<%- include('../partials/headerLogout') %>


<!-- Main Content -->
<main>
    <ul>
        <% species.forEach(spe => { %>
            <li>
                <a href="/admin/species/<%= spe.id %>">
                    <%= spe.name %>
                </a>
            </li>
            
        <% }) %>
    </ul>
    <div>
        <a href="/admin/species/new_species">
            <button>Ajouter une espèce</button>
          </a>
        </div>
</main>
<!-- Footer -->

<%- include('../partials/footer') %>