<%- include('partials/headerLogout') %>

<!-- Main Content -->
<main>
  <div class="button-container">
    <a href="/admin/projects">Projects</a>
    <button>Species</button>
    <button>Users</button>
    <button>Orders</button>
  </div>
</main>
<!-- Footer -->

<%- include('partials/footer') %>
