<%- include('partials/headerLogout') %>

<!-- Main Content -->
<main>
  <div class="text-container">
    <p class="text">
      Bienvenue dans le back-office dédié aux administrateurs de Greenroots !
    </p class="text">
    <p>Naviguez en cliquant sur les boutons situés en en-tête de cette page</p>
  </div>
</main>
<!-- Footer -->

<%- include('partials/footer') %>
