<%- include('../partials/headerLogout') %>


<!-- Main Content -->
<main>
    <ul>
        <% projects.forEach(project => { %>
            <li>
                <a href="/admin/projects/<%= project.id %>">
                    <%= project.name %>
                </a>
            </li>
            
        <% }) %>
    </ul>
    <div>
    <a href="/admin/projects/new_project">
        <button>Ajouter un projet</button>
      </a>
    </div>
</main>
<!-- Footer -->

<%- include('../partials/footer') %>