<!doctype html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Greenroots Backoffice</title>

    <link href="/css/style.css" rel="stylesheet" />
  </head>
  <body>
    <!-- Header -->
    <header>
      <h1>Greenroots Backoffice</h1>
      <nav class="my-1">
        <a href="/admin/projects/">
          <button>Projects</button>
        </a>
        <a href="/admin/species/">
          <button>Species</button>
        </a>
        <a href="url-de-la-page">
          <button>Logout</button>
        </a>
      </nav>
    </header>
  </body>
</html>
